enable-pre-post-scripts=true
auto-install-peers=true
# Allow build scripts for these packages
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@tailwindcss/oxide
